<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarnessBookmakerHorsesFeed.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HarnessBookmakerHorsesFeed.My.MySettings.ConnectionString"
            connectionString="Database=OddsMatching;Data Source=eu-cdbr-azure-north-e.cloudapp.net;User Id=b083cb50265fec;Password=263fb5f7;persistsecurityinfo=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <HarnessBookmakerHorsesFeed.My.MySettings>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>C:\#myPrograms\BetfredXMLFeedService\logs\</value>
            </setting>
            <setting name="DaysAhead" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Prcoess_WIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BetfredXMLUrl" serializeAs="String">
                <value>http://xml.betfred.com/horse-racing-uk.xml</value>
            </setting>
            <setting name="ProcessBetfred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WilliamHillXMLUrl" serializeAs="String">
                <value>http://cachepricefeeds.williamhill.com/openbet_cdn?action=template&amp;template=getHierarchyByMarketType&amp;classId=2&amp;marketSort=--&amp;filterBIR=N</value>
            </setting>
            <setting name="ProcessWilliamHill" serializeAs="String">
                <value>True</value>
            </setting>
        </HarnessBookmakerHorsesFeed.My.MySettings>
    </userSettings>
</configuration>